/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilo General de las páginas */
* {
    box-sizing: border-box;
    margin: 0;
    padding:0; 
    font-size: 20px;
    
    
}

/* Estilo del Encabezado de las paginas - Menú */
.header{
    background-image: url("../assets/img/fondoNavbar.png");
    border: 1px solid rgba(152, 148, 151, 0.723);
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 30px;
    border-radius: 50% 0% 50% 0% ;
    border: 1px solid;
    
}
.header .logo img:hover{
    transform: scale(1.2);
}

.header nav h1{
    font-size: 60px;
    color: beige;
    font-weight: bold;
    letter-spacing: 5px;
}

.header nav .nav-links{
    list-style: none;
}
.header  nav .nav-links li a{
    color: beige;
    list-style: none;
    letter-spacing: 4px;
    
}


/* Estilos: Pie de Pagina */
.piePagina{
    background-color:#AA1515;
    border-style: ridge;
    border: 1px solid rgba(152, 148, 151, 0.723);
    
}

.piePagina ul li{
    list-style: none;
    letter-spacing: 4px;
}
.piePagina ul li a{
    color: beige;
}

.piePagina div p{
    color: beige;
    letter-spacing: 4px;
}

.piePagina div p a{
    color: black;
}
