/* Estilos: Pie de Pagina */

.piePagina, .piePaginadogs{
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bold;
}

.piePaginacont, .piePaginacuenta, .piePaginasucu{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 17px;
    font-weight: bold;
}
.piePagina, .piePaginacont, .piePaginacuenta, .piePaginasucu, .piePaginadogs{
    background-color:#AA1515;
    border-style: ridge;
    border: 1px solid rgba(152, 148, 151, 0.723);
}

.piePagina ul li, .piePaginacont ul li, .piePaginacuenta ul li, .piePaginasucu ul li, .piePaginadogs ul li{
    list-style: none;
    letter-spacing: 4px;
    margin-top: 8%;
    font-family: "Poppins", sans-serif;
    
}
.piePagina  ul li a, .piePaginacont ul li a, .piePaginacuenta ul li a, .piePaginasucu ul li a, .piePaginadogs ul li a{
    color: beige;
}

.piePagina div p, .piePaginacont div p, .piePaginacuenta div p,.piePaginasucu div p, .piePaginadogs div p{
    color: beige;
    letter-spacing: 4px;
    text-align: center;
}

.piePagina div p a, .piePaginacont div p a, .piePaginacuenta div p a,.piePaginasucu div p a, .piePaginadogs div p a{
    color: black;
    font-size: 25px;

}